.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  height: 100px;
  width:auto;
  display: flex;
  align-items: center;
  font-size: calc(25px + 2vmin);
  justify-content: center;
  color: white;
  margin: 30px;
}

.game-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;

  width:1000px;
  height: 800px;

}
.img-parent{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: hsla(27, 100%, 60%, 1);

  width:160px;
  margin: 1px;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
}
.img-parent:hover{
  background-color: hsla(27, 100%, 80%, 1);

}
img{
  margin-top: 5px;
  align-self: center;
  border-radius: 10px;
}
.name{
  align-self: flex-end;
  background-color: black;
  flex-grow: 2;
}
p{
  color:white;
  cursor: pointer;
}

